.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content figure:not(:last-child) {
  margin-top: 1em;
  margin-bottom: 0em;
}

.content h1:not(:first-child) {
  margin-top: 0.5em;
}

.title:not(:last-child) {
  margin-bottom: 1rem;
}
